# Настройки для отправки (Отправитель)
SMTP_SERVER=smtp.gmail.com #smtp.yandex.ru smtp.mail.ru
SMTP_PORT=465
SENDER_EMAIL=your_sender_email@gmail.com
SENDER_PASSWORD=your_sender_app_password

# Настройки для приема (Получатель)
IMAP_SERVER=imap.mail.ru #imap.gmail.com imap.yandex.ru
RECEIVER_EMAIL=your_receiver_email@mail.ru
RECEIVER_PASSWORD=your_receiver_app_password